*.egg-info

.idea/
__pycache__/
*.py[cod]

**/.DS_Store

# Build output
dist/

# Output of demo extract features script
**/demo_extract_features.png
**/demo_clip_features*.png

# Datasets
datasets/

# Nerfstudio outputs
outputs/
